.profile-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.profile-form-user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-form-user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-form-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-form-input {
    width: calc(100% - 100px);
    /* Adjust based on button width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.profile-form-button {
    width: 90px;
    /* Adjust button width */
    margin-left: 10px;
    /* Adjust spacing between input and button */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.profile-form-button:hover {
    background-color: #0056b3;
}

.profile-form-button.verified {
    background-color: #28a745;
}

.profile-form-button.verified:hover {
    background-color: #218838;
}

.profile-form-button.invalid {
    background-color: #dc3545;
}

.profile-form-button.invalid:hover {
    background-color: #c82333;
}
